/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.exc-tick {
  stroke: grey;
}

.exc-tick text {
  fill: grey;
  stroke: none;
}

.exc-grid {
  stroke: lightgrey;
}

.exc-legend {
  stroke: black;
}

.exc-legend text {
  fill: grey;
  font-size: 0.8rem;
  stroke: none;
}

.exc-title {
  fill: darkslategray;
  font-size: 2.3rem;
  stroke: none;
}
.exc-subtitle {
  fill: darkgrey;
  font-size: 1.0rem;
  stroke: none;
}

.exc-domain {
  stroke:  rgb(207, 207, 207);
}

.exc-barlabel-in {
  fill: white;
  font-size: 0.7rem;
}

.exc-barlabel-out {
  fill: grey;
  font-size: 0.7rem;
}


.navbar {
  margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9838;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #cc7828;
}


.ctx-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #ff9838;
  border-radius: 6px;
  padding: 1.5em;
  margin-bottom: 1.5rem;
  font-weight: 200;
  font-size: 120%;
  color: white;
}
.ctx-hero p {
  margin: 0;
}

body {
  color: darkslategrey;
}

label {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

input, select, input[type="number"], input[type="text"] {
  margin-bottom: 0.6rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  height: 2.8rem;
}

input, input[type="number"], input[type="text"] {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

h3 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

.column {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}